.video {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .video {
    flex-direction: column;
    margin: 100px 0 80px;
  }
}

@media screen and (min-width: 769px) {
  .video {
    margin: 200px 0 100px;
    justify-content: space-between;
  }
}