.header {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0 10%;
  height: 80px;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .header {
    height: 60px;
  }
}