.header__nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header__nav-list {
    display: none;
    flex-direction: column;
  }
}