@media screen and (max-width: 768px) {
  .header__nav-icon {
    width: 100%;
    height: 50px;
    margin: auto;
    background-image: url(../../../images/white-menu-icon-12.jpg);
    background-size: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
  }
}
